Repository anshika1028/task-management-system: changes, and which CircleCI parameters are due for each by the changed paths.
All: task-manager-server, task-manager-ui

.circleci/config.yml:

version: "2.1"
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.7

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          name: filter-for-build-code
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            task-manager-server/.* task-manager-server true
            task-manager-ui/.* task-manager-ui true

add circleci status
  README.md
Due: none

Update README.md
  README.md
Due: none

add docker configuration to build docker images
  task-manager-server/docker-compose.yml
  task-manager-ui/Dockerfile
  task-manager-ui/docker-compose.yml
Due: task-manager-server, task-manager-ui

Create json-contract.txt
  json-contract.txt
Due: none

add circleci build status tag
  README.md
Due: none

commit lock file
  README.md
  pnpm-lock.yaml
  task-manager-server/README.md
  task-manager-server/package-lock.json
Due: task-manager-server

reverting pnpm install command
  task-manager-server/README.md
Due: task-manager-server

adding install instructions
  task-manager-server/README.md
Due: task-manager-server

adding swagger to test the BE api
  task-manager-server/README.md
Due: task-manager-server

main radme updated
  README.md
  pnpm-workspace.yaml
Due: none
